Source: openmediavault-dnshost
Section: net
XB-Plugin-Section: filesystems
Priority: optional
Maintainer: OpenMediaVault Plugin by Gekomod <jnowakk11@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.5.0
Homepage: https://github.com/gekomod/openmediavault-dnshost

Package: openmediavault-dnshost
Architecture: all
Depends: openmediavault (>= 7)
Description: dns host plugin for openmediavault
 Update IP to no-ip, ddns, freedns, ydns itp.