Package: openmediavault-dnshost
Version: 1.3.3
Architecture: all
Maintainer: OpenMediaVault Plugin by Gekomod <jnowakk11@gmail.com>
Installed-Size: 81
Depends: openmediavault (>= 7)
Section: net
Priority: optional
Homepage: https://github.com/gekomod/openmediavault-dnshost
Description: dns host plugin for openmediavault
 Update IP to no-ip, ddns, freedns, ydns itp.
Plugin-Section: filesystems
